* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
    align-items: center;
    background-color:#fefefe;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #530e0e;
    width: 350px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.container h2 {
    font-size: 32px;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    padding: 20px;
}

.subjects ul {
    list-style: none;
}

.subjects ul li {
    margin-bottom: 20px;
    text-align: center;
}

.subjects ul li a {
    text-decoration: none;
    display: block;
    background-color: #530e0e;
    color: #fefefe;
    padding: 15px 25px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px #530e0e;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.subjects ul li a:hover {
    background-color: #000000;
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* footer section  */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 23px;
    color: #dbc99c;
    text-align: center;
    background: #8f8f96a6;
}

.footer-section {
    line-height: 2.0;
    padding: 5px;
}

.footer-section h4 {
    font-size: 16px;
    color: #000000;
}

.footer-section a {
    padding: 8px;
    color: #000000;
}

.footer-section h4:hover {
    color: #530e0e;
}

.footer-section a:hover {
    color: #530e0e;
}